*, *:before, *:after{
  margin: 0;
  padding: 0;
}
html, body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}





// map
#map {
  float: left;
  height: 100%;
  width: 50%;
}
// content
#content{
  position: relative;
  float: left;
  width: 50%;
  height: 100%;
  overflow: auto;
  min-height: 100vh;
}
  // content
  .today{
    position: relative;
    margin: 90px 0 0 0;
    padding: 30px 0 0 0;
    text-align: center;

    .today_temp{
      text-align: center;
      font-size: 60px;
      line-height: 1;

      span{
        font-size: 20px;
      }
    }
    .today_type, .today_date{
      padding: 5px 0;
      text-align: center;
      color: #565656;
      text-transform: capitalize;
    }
    .today_location{
      padding: 20px 0 0px 0;
      text-align: center;
      font-size: 27px;
    }
  }

  .future{
    margin-top: 100px;
  }

  .eachDate{
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);

    .eachTop{
      position: relative;
      padding: 15px;
      background: rgb(249, 249, 249);
      border-bottom: 1px solid rgb(240, 240, 240);
      overflow: auto;

      .dateTopDate{
        width: calc(100% - 100px);
        float: left;
      }

      .dateTopButton{
        position: absolute;
        top: 12px;
        right: 12px;
        width: 30px;
        height: 30px;
        float: left;
        font-size: 15px;

        appearance: none;
        background: transparent;
        border: 1px solid transparent;
        cursor: pointer;

        &:before, &:after{
          display: block;
          content: "";
          position: absolute;
          top: 50%;
          width: 15px;
          height: 1px;
          background: black;
        }
        &:before{
          transform: rotate(45deg);
          left: 2px;
        }
        &:after{
          transform: rotate(-45deg);
          left: 12px;
        }
      }
    }
    .eachContainer{
      max-height: 0;
      overflow: hidden;

      &.open{
        max-height: 2000px;
      }

      .dateItem{
        padding: 5px 5px;
        width: 100%;
        overflow: auto;

        .dateIcon{
          float: left;
          width: 40px;
          height: 40px;
          background: darkgrey;
          border-radius: 50%;
        }
        h4{
          float: left;
          min-width: 100px;
          padding: 10px 10px;
        }
      }

      .dateItem:nth-child(even){
        background: rgba(245, 245, 245, 0.5);
      }
    }
  }

  .findMeBtn {
    z-index: 200;
    position: absolute;
    top: 10px;
    right: 10px;
    color: #565656;
    font-size: 15px;
    background: #ffffff;
    padding: 5px 7px;
    text-decoration: none;
    border: 1px solid #e9e9e9;

    &:hover{
      cursor: pointer;
      border: 1px solid white;
      box-shadow: 0 0 5px #888888;
    }
  }





// Load
.loadingScreen{
  position: fixed;
  display: none;
  z-index: 10000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
  .lsContent{
    position: absolute;
    width: 50%;
    height: 100%;
    left: 50%;
    background: white;
  }
  .loadingScreen p{
    width: 100%;
    color: black;
    text-align: center;
    font-size: 45px;
  }
  .loadingScreen.visible{
    display: block;
  }
  .loadingScreen.visible .lsContent{
    display: flex !important;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
  }


// Spinner
.spinner {
  width: 100px;
  height: 100px;
  background: #eee;
  border-radius: 50%;
  position: relative;
  margin: 0px;
  display: inline-block;

  &:after, &:before{
    content: "";
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
}
  .spinner-20{
    background: transparent;

    span{
      display: block;
      position: absolute;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      bottom: 30px;
      background: #565656;

      &:nth-child(1){
        animation: s20 2s ease-in-out infinite;
        left: 0;
      }
      &:nth-child(2){
        animation: s20 2s ease-in-out 0.66s infinite;
        left: 30px;
        opacity: 0.4;
      }
      &:nth-child(3){
        animation: s20 2s ease-in-out 1.33s infinite;
        left: 60px;
        opacity: 0.4;
      }
    }
  }

  @keyframes s20{
    0%{
      opacity: 0.4;
    }
    33.333%{
      opacity: 1;
    }
    66.666%{
      opacity: 0.4;
    }
    100%{
      opacity: 0.4;
    }
  }
