*, *:before, *:after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}





// map
#map {
  float: left;
  height: 100%;
  width: calc(100% - 550px);
}
// content
#content{
  position: relative;
  float: left;
  width: 550px;
  height: 100%;
  overflow: auto;
  min-height: 100vh;
}

.errorMessage{
  display: none;
  width: calc(100% - 32px);
  margin: 17px;
  padding: 17px;
  color: #565656;
  background: #97e1f2;
  overflow: auto;

  &.visible{ display: block; }

  p {
    width: calc(100% - 50px);
    float: left;
  }

  button{
    -webkit-appearance: none;
    float: left;
    width: 50px;
    padding: 4px;
    color: black;
    font-size: 15px;
    background: transparent;
    border: none;
    cursor: pointer;
  }
}





.today{
  position: relative;
  margin: 90px 0 0 0;
  padding: 30px 0 0 0;
  text-align: center;

  .today_temp{
    text-align: center;
    font-size: 60px;
    line-height: 1;

    span{
      font-size: 20px;
    }
  }
  .today_type, .today_date{
    padding: 5px 0;
    text-align: center;
    color: #565656;
    text-transform: capitalize;
  }
  .today_location{
    padding: 20px 0 0px 0;
    text-align: center;
    font-size: 27px;
  }
}





.future{
  margin-top: 100px;

  .menu{
    width: 100%;
    margin: 0 0 25px 0;
    text-align: center;
    // border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    .dateTopDate{
      position: relative;
      display: inline-block;
      text-align: center;
      width: 100px;
      margin: 0 5px 0 5px;
      padding: 20px 0 10px 0;
      transition: 0.7s all ease;

      .dateDate, .dateAvgTemp, .dateImg{
        display: block;
        width: 100%;
        pointer-events: none;
      }
      .dateDate{ font-size: 15px; color: #565656; line-height: 15px; }
      .dateAvgTemp{ font-size: 15px; color: #565656; line-height: 15px; padding: 0 0 5px 0; }
      .dateImg{
        width: 40px;
        height: 40px;
        margin-left: 30px;
        margin-top: 10px;
        margin-bottom: 10px;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
      }

      &:hover{
        transition: 0.7s all ease;
        cursor: pointer;

        &:after{
          content: "";
          display: block;
          position: absolute;
          bottom: -2px;
          left: 0;
          width: 100%;
          height: 3px;
          background: lighten(lightblue, 10%);
        }
      }

      &.active{ &:after{
        content: "";
        display: block;
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 100%;
        height: 3px;
        background: lightblue;
      }}
    }
  } // menu end
  .dayContainer{
    width: 100%;
    padding: 0 25px 25px 25px;
    overflow: auto;

    .dayTS{
      padding: 10px 0 10px 15px;
      overflow: auto;
      border-bottom: 1px solid #eee;
      transition: 0.2s all ease;

      &:hover{ background: rgba(241, 240, 241, 0.53); }
    }
    .dayImg{
      width: 40px;
      height: 40px;
      float: left;
      // border: 1px solid black;
    }
    .dayText{
      width: calc(100% - 120px);
      padding: 0 10px 0 10px;
      float: left;

      .dayTime{
        font-size: 17px;
      }
      .dayType{
        font-size: 13px;
        color: #565656;
        text-transform: capitalize;
      }
    }
    .dayTemp{
      width: 60px;
      height: 40px;
      padding: 10px;
      float: left;
      font-size: 17px;
      text-align: center;
    }
  &.hidden{ display: none; }
  }
}


.Sun{ background: url(img/sun.svg); }
.Cloud{ background: url(img/cloud.svg); }
.CloudLight{ background: url(img/cloud-light.svg); }
.Rain{ background: url(img/rain.svg); }
.Fog{ background: url(img/fog.svg); }
.Lightning{ background: url(img/lightning.svg); }
.Snow{ background: url(img/snow.svg); }
.Hail{ background: url(img/hail.svg); }




  .findMeBtn {
    z-index: 200;
    position: absolute;
    top: 10px;
    right: 10px;
    color: #565656;
    font-size: 11px;
    background: #ffffff;
    padding: 7px 7px;
    text-decoration: none;
    border: 1px solid #e9e9e9;

    &:hover{
      cursor: pointer;
      border: 1px solid white;
      box-shadow: 0 0 5px #888888;
    }
  }





// Loading screen
.loadingScreen{
  position: fixed;
  display: none;
  z-index: 10000;
  top: 0;
  left: 0;
  // left: calc(100% - 550px);
  width: 100%;
  height: 100%;
}
  .lsContent{
    position: absolute;
    width: 550px;
    height: 100%;
    left: calc(100% - 550px);
    background: white;
  }
  .loadingScreen p{
    width: 100%;
    color: #565656;
    text-align: center;
    font-size: 25px;
  }
  .loadingScreen.visible{
    display: block;
  }
  .loadingScreen.visible .lsContent{
    display: flex !important;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
  }


// Spinner
.spinner {
  width: 100px;
  height: 75px;
  background: #eee;
  border-radius: 50%;
  position: relative;
  margin: 0px;
  display: inline-block;

  &:after, &:before{
    content: "";
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
}
  .spinner-20{
    background: transparent;

    span{
      display: block;
      position: absolute;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      bottom: 30px;
      background: #97e1f2;

      &:nth-child(1){
        animation: s20 2s ease-in-out infinite;
        left: 0;
      }
      &:nth-child(2){
        animation: s20 2s ease-in-out 0.66s infinite;
        left: 30px;
        opacity: 0.4;
      }
      &:nth-child(3){
        animation: s20 2s ease-in-out 1.33s infinite;
        left: 60px;
        opacity: 0.4;
      }
    }
  }

  @keyframes s20{
    0%{
      opacity: 0.4;
    }
    33.333%{
      opacity: 1;
    }
    66.666%{
      opacity: 0.4;
    }
    100%{
      opacity: 0.4;
    }
  }
