@import "normalize";

*, *:after, *:before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  font-family: 'Open Sans', sans-serif;
}


.map{
  width: 100%;
  height: 50vh;
  background: orangered;
}
.content{
  width: 100%;
}



.today{
  position: relative;
  margin: 90px 0 0 0;
  padding: 30px 0 0 0;
  text-align: center;

  .today_temp{
    text-align: center;
    font-size: 60px;
    line-height: 1;
  }
  .today_type{
    padding: 5px 0;
    text-align: center;
    color: #565656;
    text-transform: capitalize;
  }
  .today_location{
    padding: 20px 0 0px 0;
    text-align: center;
    font-size: 27px;
  }
  .today_date{
    padding: 5px 0;
    text-align: center;
    color: #565656;
    text-transform: capitalize;
  }
}


.menu{
  width: 100%;
  margin: 50px 0 25px 0;
  text-align: center;

  .menu-item{
    position: relative;
    display: inline-block;
    width: 100px;
    margin: 0 5px 0 5px;
    padding: 20px 0 20px 0;
    cursor: pointer;

    &:hover {
      background: rgba(241, 240, 241, 0.53);
    }
    &.active{

      &:after{
        position: absolute;
        content: "";
        display: block;
        bottom: 0;
        width: 100%;
        height: 3px;
        background: lightblue;
      }
    }

  }
}

.Sun{ background: url(../img/sun.svg); }
.Cloud{ background: url(../img/cloud.svg); }
.CloudLight{ background: url(../img/cloud-light.svg); }
.Rain{ background: url(../img/rain.svg); }
.Fog{ background: url(../img/fog.svg); }
.Lightning{ background: url(../img/lightning.svg); }
.Snow{ background: url(../img/snow.svg); }
.Hail{ background: url(../img/hail.svg); }

.menu-temp, .menu-img, .menu-day{
  width: 100%;
  min-height: 20px;
  pointer-events: none;
}
.menu-img{
  width: 40px;
  height: 40px;
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.menu-temp{
  font-size: 15px;
  color: #565656;
  line-height: 15px;
  padding: 0 0 5px 0;
}
.menu-date{
  font-size: 15px;
  color: #565656;
  line-height: 15px;
}

.detailContainer{
  display: none;
  padding: 0 25px 50px 25px;

  &.visible{
    display: block;
  }
}

.details-item{
  width: 100%;
  padding: 10px 0 10px 15px;
  border-bottom: 1px solid #eee;
  overflow: auto;
  transition: 0.2s all ease;

  &:hover{
    background: rgba(241, 240, 241, 0.53);
  }

  .details-textContainer{
    float: left;
    width: calc(100% - 120px);
    padding: 0 10px 0 10px;

    .details-time{
      padding: 3px 0 0 0;
      font-size: 17px;
    }
    .details-name{
      padding: 2px 0 0 0;
      font-size: 13px;
      color: #565656;
      text-transform: capitalize;
    }
  }
  .details-img{
    float: left;
    width: 40px;
    height: 40px;
  }
  .details-temp{
    float: left;
    width: 80px;
    height: 40px;
    padding: 10px;
    font-size: 17px;
    text-align: center;
  }
}



.error{
  display: none;
  width: calc(100% - 32px);
  margin: 17px;
  padding: 17px;
  color: #565656;
  background: #97e1f2;
  overflow: auto;

  &.visible{
    display: block;
  }

  p{
    width: calc(100% - 50px);
    float: left;
  }
  button{
    -webkit-appearance: none;
    float: left;
    width: 50px;
    padding: 4px;
    color: black;
    font-size: 15px;
    background: transparent;
    border: none;
    cursor: pointer;
  }
}


.loadingScreen {
  position: fixed;
  display: none;
  z-index: 10000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  &.visible{
    display: block;

    .lsContent{
      display: -webkit-box;
      align-items: center;
      flex-wrap: nowrap;
      flex-direction: column;
      justify-content: center;
    }
  }

  .lsContent{
    position: absolute;
    height: 100%;
    width: 100%;
    background: white;
    left: 0;
  }

}


.spinner {
  width: 100px;
  height: 75px;
  background: #eee;
  border-radius: 50%;
  position: relative;
  margin: 0px;
  display: inline-block;

  &.before{

  }
}
.spinner-20 {
  background: transparent;

  span {
    display: block;
    position: absolute;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    bottom: 30px;
    background: #97e1f2;

    &:first-child {
      animation: s20 2s ease-in-out infinite;
      left: 0;
    }
    &:nth-child(2) {
      animation: s20 2s ease-in-out 0.66s infinite;
      left: 30px;
      opacity: 0.4;
    }
    &:nth-child(3) {
      animation: s20 2s ease-in-out 1.33s infinite;
      left: 60px;
      opacity: 0.4;
    }
  }
}

@keyframes s20{
    0%{
      opacity: 0.4;
    }
    33.333%{
      opacity: 1;
    }
    66.666%{
      opacity: 0.4;
    }
    100%{
      opacity: 0.4;
    }
  }




@media screen and (min-width: 768px) {
  .map{
    float: left;
    width: calc(100% - 600px);
    height: 100vh;
  }
  .content{
    float: left;
    width: 600px;
    height: 100vh;
    overflow: scroll;
  }

  .loadingScreen .lsContent{
    width: 600px;
    left: calc(100% - 600px);
  }
}
